.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.c-offcanvas {
  left: 0;
  padding: 1rem;
  overflow-y: scroll;
}

.js-offcanvas a {
   color: #337ab7;
   outline: 0;
}

.navbar {
   margin-bottom:0px;
}
/* remove background colors  */
.navbar-default, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    border-color: transparent;
   color:#fff;
   outline: 0;
}